form{
    background-color:#9999;
    border-radius: 5px;
    color:black;
    font-size: 12px;
    padding: 20px;
    margin: 0px auto;
    width: 300px;
    

}
input , textarea{
    border: 0;
    outline: none;
    width: 280px;
}
.campo{
    border: solid 1px #cccccc;
    padding: 10px;
}
.campo:focus{
    border-color: forestgreen;
}

